---
layout: talk
title: "Lessons from leading an YBYR team"
date: 2018-10-04 10:47
theme: "white"
comments: true
sharing: true
footer: true
---

%section
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h1 Lessons from running a YBIYRI team
      .none{style: 'grid-column-start: 1; grid-column-end: 8'}
        %ul
          %li 
            %strong Roger Almeida
          %li 
            %i.fab.fa-twitter
            %a{href: '#'}@rogeralmeidacom
          %li 
            %i.fab.fa-github
            %a{href: '#'}github.com/rogeralmeida
          %li
            %i.fab.fa-linkedin
            %a{href: "#"}linkedin.com/in/roger-almeida
          %li 
            %i.fas.fa-globe
            %a{href: '#'}www.roger-almeida.com
    %aside.notes
      Although I have the honour to be presenting here, I will be talking about not the work a person, a team or a department. The stories I will be sharing here today is the result of the effort of many brillant people who had passion and patience to take Tyro through the Journey it went through.
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Definitions      
  %section
    %h2 DevOps
    %blockquote DevOps (a clipped compound of "development" and "operations") is a software engineering culture and practice that aims at unifying software development (Dev) and software operation (Ops)
    %img.fragment.animated.move-to.rotate.auto-fire{src: '/images/ybyr/devops.png', style: 'position: absolute; top: 200%; z-index: -1; opacity: 0.4;', data: {animated: {move: {to: {left: '-100%', top: '-130%'}}, rotate: {to: '-30deg'}, duration: 500}}}
  %section
    %h2 Cloud Computing
    %blockquote The practice of using a network of remote servers hosted on the Internet to store, manage, and process data, rather than a local server or a personal computer.
    %img.fragment.animated.move-to.rotate.auto-fire{src: '/images/ybyr/cloud-computing.png', style: 'position: absolute; top: 250%; z-index: -1; opacity: 0.4;', data: {animated: {move: {to: {left: '100%', top: '-180%'}}, rotate: {to: '30deg'}, duration: 500}}}
  %section
    %h2 You build it, You run it
    %blockquote
      You build it, you run it is the principle that development teams operate their own product.
    %img.fragment.animated.move-to.rotate.auto-fire{src: '/images/ybyr/monitoring-release.png', style: 'position: absolute; top: 250%; z-index: -1; opacity: 0.4;', data: {animated: {move: {to: {left: '-100%', top: '-180%'}}, rotate: {to: '30deg'}, duration: 500}}}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 4'}
        %h3 DevOps
      .none{style: 'grid-column-start: 5; grid-column-end: 8'}
        %h3 Cloud Computing
      .none{style: 'grid-column-start: 9; grid-column-end: 12'}
        %h3 You build it, You run it
      .none{style: 'grid-column-start: 1; grid-column-end: 4'}
        %i.far.fa-check-square.fa-7x.fragment
      .none{style: 'grid-column-start: 5; grid-column-end: 8'}
        %i.far.fa-check-square.fa-7x.fragment
      .none{style: 'grid-column-start: 9; grid-column-end: 12'}
        %i.fas.fa-check-square.fa-7x.fragment
%section
  %section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
    %h1 Tyro Journey
  %section
    #tyro-timeline
    %aside.notes
      \- Low experience with AWS
      \- Partnership with CMD to bring in AWS expertise
      \- Hired a Architect to Champion the project
      \- Many lessons about APRA and bank license that I will not talk about. Come talk to me later
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Why DevOps
  %section
    %h2 Why DevOps
    %img{src: '/images/ybyr/dora.png'}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h2 Why DevOps
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h3.fragment{style: 'background-color: #003ED8;'} Organisational Performance
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h4.fragment{style: 'background-color: #51566C;'} Software Delivery and Operational Performance (SDO)
      .none{style: 'grid-column-start: 1; grid-column-end: 6'}
        %h4.fragment{style: 'background-color: #6FF4BA;'} Software Delivery Performance
      .none{style: 'grid-column-start: 7; grid-column-end: 13'}
        %h4.fragment{style: 'background-color: #6FF4BA;'} Service Operational Performance
  %section
    %h2 Software Delivery Performance
    %ul
      %li Cycle Time (from commit to production)
      %li Failure Rate
  %section
    %h2 Service Operational Performance
    %ul
      %li Availability
      %li Time to Restore
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 5'}
        %h2 Performance Distribution
      .none{style: 'grid-column-start: 6; grid-column-end: 13'}
        %img{src: '/images/ybyr/performance-profiles.png', style: 'max-height: 375%;'}
  %section
    %img{src: '/images/ybyr/performance-compare.png', style: 'max-height: 90%'}
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 Lessons
  %aside.notes
    %ul
      %li What are the things that we learned along the way
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Operational Models
  %section
    %h1 Operational Models
    %ul
      %li Amazon YBIYRI
      %li Google SRE
    %aside.notes
      %ul
        %li How should you organise your team? 
        %li Should you put all the responsibility on developers?
        %li What gonna happen with your operations team?
  %section
    %h2 Amazon Two Pizza Teams
    %ul
      %li How many people can you feed with 2 big (American Size) pizzas?
      %li Operational responsibility inside the team
      %li Customer contact
  %section
    %h2 Google SRE
    %ul
      %li Site Reliability Engineers
      %li Embedded into delivery teams
      %li Veto power on production environments
  %section
    %h2 Tyro Way
    %img.fragment.animated.move-to.rotate.auto-fire{src: '/images/ybyr/platform-engineer.jpeg', style: 'position: absolute; top: 350%; z-index: -1; opacity: 0.4; width: auto; heigth: 200px;', data: {animated: {move: {to: {left: '20%', top: '-230%'}}, rotate: {to: '-25deg'}, duration: 500}}}
    %img.fragment.animated.move-to.rotate.auto-fire{src: '/images/ybyr/delivery.jpeg', style: 'position: absolute; top: 350%; z-index: -1; opacity: 0.4;', data: {animated: {move: {to: {left: '200%', top: '-230%'}}, rotate: {to: '25deg'}, duration: 500}}}
    %ul
      %li.fragment Platform teams (Platform Engineers)
      %li.fragment Delivery Teams (Software Engineers with operational responsibilities)
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 New area of knowledge
  %section
    %h2 New area of knowledge
    %img{src: '/images/ybyr/devopspract.png', style: 'width: 90%;'}

%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Define your boundaries
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 12'}
        %h2
          Define the
          %i
            %u business capability
          you will support
        %h3.fragment Ex: Provide data for reporting
      .none{style: 'grid-column-start: 1; grid-column-end: 6'}
        %ul
          %li.fragment You will need involvement from business (PO)
          %li.fragment We are not talking about software artefacts
      .none{style: 'grid-column-start: 7; grid-column-end: 13'}
        %img.fragment{src: '/images/ybyr/etq-components.png', style: 'width: 50%;'}
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 12'}
        %h1 Define your Service Levels
        %h2 SLIs, SLOs, SLAs, MAOs, RTOs...
  %section
    %h2 
      SLI - 
      %i Service Level Indicators
    %blockquote A carefully defined quantitative measure of some aspect of the level of service that is provided
    %ul
      %li.fragment
        Ex:
        %ul
          %li.fragment Response Time
          %li.fragment Data Durability
          %li.fragment Up Time
          %li.fragment Availability
  %section
    %h2 
      SLO -
      %i Service Level Objectives
    %blockquote A target value or range of values for a service level that is measured by an SLI
    %ul
      %li.fragment
        Examples:
        %ul
          %li.fragment Availability: 99.95%
          %li.fragment
            Response Time:
            %ul
              %li 95 percentile: <= 500ms
              %li 99 percentile: < 1000ms
          %li.fragment Data Durability: 5 years
  %section
    %h2
      SLA -
      %i
        Service Level Agreements
    %blockquote An explicit or implicit contract with your users that includes consequences of meeting (or missing) the SLOs they contain
  %section
    %h2
      MAO -
      %i Maximum Allowed Outage
    %blockquote 
      Maximum amount of time a system can be unavailable before its loss will compromise the organization's objectives or survival.
      %strong AKA: Maxium Tolerable Period of Disruption (MTPOD)
  %section
    %h2
      RTO -
      %i Recovery Time Objective
    %blockquote
      Targeted duration of time and a service level within which a business process must be restored after a disaster (or disruption) in order to avoid unacceptable consequences associated with a break in business continuity
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Security
  %section
    %h2 Least Privilege
    %img{src: '/images/ybyr/least-privilege.jpg'}
  %section
    %h2 Break Glass
    %img{src: '/images/ybyr/break-glass.jpg'}
  %section
    %h2 Defense in depth
    %iframe{width: "75%", height: "315", src: "https://www.youtube.com/embed/g0x1Ijy1udA", frameborder: "0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Monitoring
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h2 Monitoring
      .none{style: 'grid-column-start: 1; grid-column-end: 6'}
        %h3 Closed Box
      .none{style: 'grid-column-start: 7; grid-column-end: 13'}
        %h3 Open Box
      .none{style: 'grid-column-start: 1; grid-column-end: 6'}
        %i.fas.fa-box.fa-3x
        %ul
          %li.fragment How the user sees your service
      .none{style: 'grid-column-start: 7; grid-column-end: 13'}
        %i.fas.fa-box-open.fa-3x
        %ul
          %li.fragment
            Knows the internals of the application
            %ul
              %li Logs
              %li JVM
              %li Health Check Pages
  %section
    %h2 Dashboards
    %img{src: '/images/ybyr/dashboard-sumo.png', style: 'width: 75%;'}
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Alerting
  %section
    %h2 Alerting
    %ul
      %li Inform a humans about a unexpected behaviour
      %li Not able to fulfill a SLO
      %li Some dependency is malfunctioning
  %section
    %h2 Alerting Channels vs Severity
    %table
      %tr
        %th Severity
        %th Channel
      %tr.fragment
        %td
          %span{style: 'color: blue'} Trivial
        %td Log
      %tr.fragment
        %td
          %span{style: 'color: green'} Low
        %td Ticket
      %tr.fragment
        %td
          %span{style: 'color: orange;'} Medium
        %td e-mail
      %tr.fragment
        %td
          %span{style: 'color: red;'} High
        %td Pager
  %section
    %h2 Alerting Lesson
    %ul
      %li Too much alerting is the same as no alerting
    %aside.notes
      Talk about the day one team member ignored a critical alert because we had to many false positives on that day
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Life on-call
  %section
    %h2 On-Call
    %ul
      %li.fragment 1 person on-call for 1 week
      %li.fragment Every team member will be on call
      %li.fragment
        Scalation policy
        %ul
          %li
            Team Member
            %ul
              %li
                Team Manager
                %ul
                  %li
                    Tribe Manager
                    %ul
                      %li
                        Head of Engineering
      %li.fragment 15 minutes away from computer/internet
      %li.fragment
        Time
        %i in lieu
        as a compensation
  %section
    %h2 On-call responsibilities
    %ul
      %li Monitor the SLOs
      %li Work on Resilience stories
      %li Veto power to Deploy and Releases
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Post-morten
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h2 Pre-work
      .none{style: 'grid-column-start: 1; grid-column-end: 5'}
        %h3 Capture an incident timeline
      .none{style: 'grid-column-start: 6; grid-column-end: 13'}
        %img{src: '/images/ybyr/incident-timeline.png'}
  %section
    .grid-container
      .none{style: 'grid-column-start: 1; grid-column-end: 13'}
        %h2 Hosting Post-morten session 
      .none{style: 'grid-column-start: 1; grid-column-end: 5'}
        %h4 Apply the retrospective prime directive
      .none{style: 'grid-column-start: 6; grid-column-end: 13'}
        %blockquote Regardless of what we discover, we understand and truly believe that everyone did the best job they could, given what they knew at the time, their skills and abilities, the resources available, and the situation at hand.
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %section
    %h1 Release Strategy
  %section
    %h2 Dark Launch
    .mermaid
      = 'graph LR'
      = '  Client ==> Current'
  %section
    %h2 Dark Launch
    .mermaid
      = 'graph LR'
      = '  Client ==> Current'
      = '  New(New)'
  %section
    %h2 Dark Launch
    .mermaid
      = 'graph LR'
      = '  Client ==> Current'
      = '  Client ==> New(New)'
      = '  Current -. Compare .- New'
  %section
    %h2 Dark Launch
    .mermaid
      = 'graph LR'
      = '  Client ==> New'
  %section
    %img{src: '/images/ybyr/canary-release.png'}
%section{data: {background: {image: '/images/ybyr/tyro-background-white.png', size: '90%'}}}
  %h1 Conclusion
  We gained a lot of experience
  There is no way back, this is not the future, it is the present
%section
  %h1 Thank you
  %img{src: '/images/ybyr/questions.gif', style: 'width: 45%'}
  %br
  %a{href: 'http://www.roger-almeida.com/talks/ybyr/'}www.roger-almeida.com/talks/ybyr/

